#include "../../Flutter/ephemeral/Flutter-Generated.xcconfig"
#include? "../../Pods/Target Support Files/Pods-RunnerStore/Pods-RunnerStore.debug-appstore.xcconfig"
#include "Warnings.xcconfig"
#include "Store.xcconfig"
PROXY_RUST_PROFILE = debug
CODE_SIGN_ENTITLEMENTS = Runner/StoreDebug.entitlements
